@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme inline {
  --font-display: 'JetBrains Mono', monospace;
  --font-body: 'Outfit', sans-serif;
}

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Outfit', sans-serif;
  background: #080b14;
  color: #e8eaf0;
}
